@page "/"
@rendermode InteractiveServer

<div class="relative px-6 pt-14 lg:px-8 h-screen">
    <!-- Fundo com slideshow -->
    <div class="absolute inset-0 h-screen -z-10 overflow-hidden">
        <img src="./banner.jpg" 
             class="w-full h-full object-cover opacity-100 transition-opacity duration-1000 slide-image absolute inset-0" />
        <!-- camada escura para contraste -->
        <div class="absolute inset-0 bg-black/80"></div>
    </div>

    <!-- Conteúdo principal -->
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
            <h1 class="text-5xl font-semibold tracking-tight text-balance sm:text-7xl">
                As melhores casas de apostas em um só lugar
            </h1>
            <p class="mt-8 text-lg font-medium text-pretty sm:text-xl/8">
                Tudo o que você precisa para começar a apostar com confiança e encontrar as melhores oportunidades.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <NavLink
                    href="https://www.elephantbet.co.ao/affiliates/?btag=1863853"
                    target="_blank"
                    onclick="fbq('trackCustom', 'Clique de link', {LinkClicado: 'https://www.elephantbet.co.ao/affiliates/?btag=1863853'});"
                    class="animate-bounce rounded-md bg-accent px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 ">
                    Comece a Ganhar
                </NavLink>
            </div>
        </div>
    </div>
</div>

<TopLinks></TopLinks>
<Features></Features>
@* <TopSites></TopSites> *@
