@page "/"
@rendermode InteractiveServer

<div class="relative isolate px-6 pt-14 lg:px-8 bg-white">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
            <h1 class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">As melhores casas de
                apostas em um só lugar</h1>
            <p class="mt-8 text-lg font-medium text-pretty text-gray-600 sm:text-xl/8">Tudo o que você precisa para
                começar
                a apostar com confiança e encontrar as melhores oportunidades.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <button href="#"
                        class="animate-bounce rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-primary-dark focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">
                    Comece a Ganhar
                </button>
            </div>
        </div>
    </div>
</div>
<Features></Features>
<TopLinks></TopLinks>
<TopSites></TopSites>
